<!DOCTYPE html>
<html>
<head>
    <title>Express HTML</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Express HTML</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">
                        <a href="/user">User</a>
                    </li>
                    <li>
                        <a href="/buku">Buku</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="jumbotron" style="padding:40px;">
            <h1>Ini Halaman User</h1>
            <p>Selamat datang di halaman user. Anda dapat melakukan berbagai tindakan di sini.</p>
            
            <form method="post" action="/user">
                <button type="submit" class="btn btn-primary">Tambah User</button>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alfiyan Tegar</td>
                        <td>tegarsh1@gmail.com</td>
                        <td>
                            <form method="put" action="/user" style="display: inline;">
                                <button type="submit" class="btn btn-success">Update</button>
                            </form>
                            <form method="post" action="/user" style="display: inline;">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit" class="btn btn-danger">Hapus</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Bagas Herlambang</td>
                        <td>Bagash@gmail.com</td>
                        <td>
                            <form method="put" action="/user" style="display: inline;">
                                <button type="submit" class="btn btn-success">Update</button>
                            </form>
                            <form method="post" action="/user" style="display: inline;">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit" class="btn btn-danger">Hapus</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
